h1
{
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    text-align: center;
    /* background-image: radial-gradient(rgb(240, 151, 221), rgb(255, 255, 255)); */
    color:rgb(0, 0, 0)
}

h2
{
    font-family:monospace;
    text-align: center;
    font-size: 16pt;
}

table
{
    border: 1px solid black;
    margin-left: 34.6%;
    transform: translate(0%, -163%);
    position: absolute;
    background-image: linear-gradient(to top, #c4c4c4, #dddddd);
}

table, tr, th, td
{
    border: 2px solid rgb(0, 0, 0);
    border-collapse: collapse;
    padding: 5px;
}

button
{
    background-color: #dddddd;
    color: #000000;
    font-weight: bold;
    border: 2px solid, #c0c0c0;
    border-radius: 5px;
}

button:hover
{
    background-color: #626262;
    padding: 8px;
    transition: all .5s ease 0s;
    color: white
}

.multicoloredtext
{
    background-image: linear-gradient(to left, violet, indigo, green, blue, yellow, orange, red);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
}

.navLinks
{
    text-align: center;
    color: blue;
    font-family: courier;
}

.rightAlignedAside
{
    float: right;
    width: 20%;
    color:rgb(0, 0, 0);
    padding: .5em;
    margin-left: .5em;
    text-align: right; /* right align being used as well as font-style, font-size, font-family, etc */
    border: 2px outset rgb(0, 0, 0);
    background-color: #c4c4c4;
    font-style: italic;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    font-size: 10pt;
}

.threeColumn
{
  column-count: 3;
  column-gap: 21px;
  column-rule-width: 2px;
  column-rule-style: solid;
  column-rule-color: #000;
}

.img
{
    width: 5%;
    padding-top: 1em;
}

#bannerImage
{
    width: 101%;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAJYAAADICAMAAAA9W+hXAAAAA1BMVEXExMQCQxelAAAANElEQVR4nO3BMQEAAADCoPVP7WsIoAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAeAN1+AABVhDU2QAAAABJRU5ErkJggg==");
    /* background-image: url("webdev/images/greyBackground.png"); */
    height: 110px;
    background-position: center;
    margin-top: -21px;
    margin-left: -7px;
    z-index: 5050;
}

#gamingImg
{
    background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTuVd5PnmRhmWJ5Zja6YPFsJuE2BJdqBy8PCQ&usqp=CAU") no-repeat center center fixed #000;
    /* -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; */
    margin-left: -8px;
    margin-bottom: -8px;
    width: 101%;
}

#imgMap
{
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    padding: auto;
    margin-left: 39%; 
}

#watermark
{
  z-index: -1;
  position: absolute;
  width: 23%;
  height: auto;
  opacity: 150%;
  margin-top: 20px;
  margin-left: 50px;
}